/************************General Formatting************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/************************End of General Formatting************************/

/************************Header Formatting************************/

/*Format git hub icon*/
.bxl-github {
    font-size: 3rem;
    color: #000;
    transition: 0.5s ease;/*Transition Hover*/
}

/*Format github icon hover*/
.bxl-github:hover {
    color: #add8e6;
}
/************************End of Header Formatting************************/

/************************Footer Formatting************************/
/*Format footer p tag*/
footer p {
    text-align: center;
    margin: 10px;
    font-size: 1rem;
}

/*Format terms and policy containers*/
.terms-and-policy {
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    font-size: 0.8rem;
}

/*Format terms and policy links*/
.terms-and-policy a {
    text-decoration: none;
    color: lightgray;
    transition: 0.5s ease;/*Transition Hover*/
}

/*Format terms and policy links hover*/
.terms-and-policy a:hover {
    color: #000;
}
/************************End of Footer Formatting************************/